.navbar-items {
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 40px;
  font-size: 20px;
}

.nav-item-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-left: 20px;
}

.menu-btn {
  margin-right: 10px;
  z-index: 300;
  width: 25px;
  height: 20px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-btn__burger {
  width: 100%;
  height: 3px;
  background-color: black;
  border-radius: 10px;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: black;
  border-radius: 6px;
}

.menu-btn__burger::before {
  transform: translateY(-8px);
}

.menu-btn__burger::after {
  transform: translateY(8px);
}

.fa-arrow-alt-circle-left {
  z-index: 300;
  color: black;
  font-size: 30px;
  cursor: pointer;
}

@media only screen and (min-width: 769px) {
  .menu-btn {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  .navbar-items {
    font-size: 15px;
  }
}

.logo {
  font-weight: 700;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-right: 20px;
}

.nav-links .nav-link:visited {
  color: #777;
}

.nav-links .nav-link:hover {
  color: tomato;
  transform: scale(1.1);
}

.nav-link {
  text-decoration: none;
  padding: 10px;
}

@media only screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }
}

.nav-item-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-right: 20px;
  height: 100%;
}

.cart {
  margin-left: 10px;
  position: relative;
  height: 100%;
}

.cart-number {
  font-size: 10px;
  color: white;
  position: absolute;
  top: -5px;
  left: 10px;
  text-align: center;
  padding: 5px 5px;
  background-color: red;
  line-height: 0.5;
  border-radius: 300px;
}

.login-signup {
  margin: 5px;
  text-decoration: none;
}

.login-signup:visited {
  color: #777;
}

.login-signup:hover {
  color: tomato;
  transform: scale(1.1);
}
